.git
.github
node_modules
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*.php
storage/logs/*.log
public/build
public/hot
public/storage
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
compose.yaml
Dockerfile
README.md
CLAUDE.md
phpunit.xml
tests
