services:
    database:
        image: postgres:17-alpine
        ports:
            - "5432:5432"
        environment:
            POSTGRES_PASSWORD: password
            POSTGRES_USER: postgres
            POSTGRES_DB: products_db
        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U postgres" ]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 10s
        restart: on-failure
    api:
        build: .
        ports:
            - "8000:80"
        depends_on:
            database:
                condition: service_healthy
        environment:
            DB_CONNECTION: pgsql
            DB_HOST: database
            DB_PORT: 5432
            DB_DATABASE: products_db
            DB_USERNAME: postgres
            DB_PASSWORD: password
            RUN_MIGRATIONS: "true"
            APP_KEY: base64:vI6B/M5+WkFfXp6N7q/4S+5O7z9J4z8j+Xy3q6u9/X0= # Example key, should be changed
            APP_ENV: local
            APP_DEBUG: "true"
            SERVER_NAME: :80
        restart: on-failure
